.results {
  display: none;
}

img {
  width: 200px;
  height: auto;
}

.finalresult {
    margin-left: auto;
    margin-right: auto;
}


#cSharp {
  display: none;
}

#Java {
  display: none;
}

#PHP {
  display: none;
}

#Ruby {
  display: none;
}

#resultbox {
  padding: 20px;
  margin-right: 50px;
}

button{
  align-self: center;
}
